<div id="inicio_comp">
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/inicio/index" class="site_title"><img src="/production/images/bra.png" alt=""></i> <span>INTRANET</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div id="profile_info">
            <profile-info></profile-info>
        </div>
        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar_menu">
            <sidebar-menu></sidebar-menu>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>
<!-- top navigation -->
<div id="top_nav">
    <top-nav></top-nav>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div id="top_tiles">
        <top-tiles></top-tiles>
    </div>
    <br />
    <!-- /top tiles -->
    <div id="user_profile">
        <user-profile></user-profile>
    </div>
</div>
<!-- /page content -->

<div id="modal_lg">
    <modal-lg></modal-lg>
</div>


<!-- footer content -->
<footer>
    <div class="pull-right">
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>