<!DOCTYPE html>
<html lang="en" data-turbolinks="false">

    <head>
        <%# <meta name="turbolinks-visit-control" content="reload"> %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <title>INTRANET | CALENDARIO </title>
        <!-- Bootstrap -->
        <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- FullCalendar -->
        <link href="/vendors/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
        <link href="/vendors/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
        <!-- Custom styling plus plugins -->
        <link href="/build/css/custom.min.css" rel="stylesheet">
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_pack_tag 'application' %>    
        <%= javascript_pack_tag 'calendario' %>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <%= yield %>
            </div>
        </div>
        <%= render partial: "/calendario/modal" %>
    </body>

</html>