<!DOCTYPE html>
<html data-turbolinks="false">

    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <%# <meta name="turbolinks-visit-control" content="reload"> %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <title>Prefeitura - Intranet | Contatos</title>
        <!-- Bootstrap -->
        <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="/build/css/custom.min.css" rel="stylesheet">
        <%= stylesheet_link_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
        <%= javascript_pack_tag 'contatos' %>
    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <%= yield %>
            </div>
        </div>
        <script src="/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/vendors/fastclick/lib/fastclick.js"></script>
        <script src="/vendors/nprogress/nprogress.js"></script>
    </body>
    
</html>