<!DOCTYPE html>
<html lang="en" data-turbolinks="false">

    <head>
        <%# <meta name="turbolinks-visit-control" content="reload"> %>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <title>Prefeitura-Intranet</title>
        <!-- Bootstrap -->
        <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awsome -->
        <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- bootstrap-wysiwyg -->
        <link href="/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
        <!-- Select2 -->
        <link href="/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
        <!-- Switchery -->
        <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
        <!-- starrr -->
        <link href="/vendors/starrr/dist/starrr.css" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <!-- Custom Theme Style -->
        <link href="/build/css/custom.min.css" rel="stylesheet">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'funcionarios' %>
    </head>
    
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <%= yield %>
            </div>
        </div>
        <script src="/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/vendors/nprogress/nprogress.js"></script>
        <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    </body>
</html>